@model CoreAMSWeb.ViewModels.AddActivity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivityMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m=>m.SelectedProjectId)
                @Html.DropDownListFor(m=>m.SelectedProjectId,Model.ProjectName,"--Select--",new {@class="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.SelectedActivityId)
                @Html.DropDownListFor(m=>m.SelectedActivityId,Model.ActivityName,"--Select--",new {@class="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="PageName" class="control-label"></label>
                <input asp-for="PageName" class="form-control" />
                <span asp-validation-for="PageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredProcedureName" class="control-label"></label>
                <input asp-for="StoredProcedureName" class="form-control" />
                <span asp-validation-for="StoredProcedureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
